{% load static %}

<header class="header-top bg-dark py-4">
    <div class="container">
        <nav class="navbar navbar-expand-lg navigation menu-white">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/logo-w.png' %}" alt="" class="img-fluid">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu  text-white"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="menu navbar-nav ml-auto">
                    <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Category</a></li>
                    <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/contacts/" class="nav-link">Contact</a></li>
                </ul>
                <div class="text-lg-right search ml-4">
                    <div class="search_toggle"><i class="ti-search text-white"></i></div>
                </div>
            </div>
        </nav>
    </div>
</header>

<!--search overlay start-->
<div class="search-wrap">
    <div class="overlay">
        <form action="#" class="search-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-9">
                        <input type="text" class="form-control" placeholder="Search..."/>
                    </div>
                    <div class="col-md-2 col-3 text-right">
                        <div class="search_toggle toggle-wrap d-inline-block">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--search overlay end-->