{% extends 'base.html' %}
{% load news_tags %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}

		<section class="section-padding">

				<div class="container">
						{% if request.GET %}
								<h3> Получено результатов: {{ view.object_list.count }}</h3>
						{% endif %}
						<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="row">
												{% for post in object_list %}
														<div class="col-lg-4 col-md-6 col-sm-6">
																<article class="post-grid mb-5 ">
																		<a class="post-thumb mb-4 d-block" href="{% url 'news:news_detail' post.id %}">
																				<img src="{{ post.poster.url }}" alt="IMAGE" class="news-image">
																		</a>

																		<div class="post-content-grid">
																				<div class="label-date">
																						<span class="day">{{ post.time|date:" d " }}</span>
																						<span class="month text-uppercase">{{ post.time|date:" M " }}</span>
																				</div>
																				<span class="cat-name text-color font-extra font-sm text-uppercase letter-spacing">
                                {% for category in post.postcategory_set.all %}
		                                {% if category.post_id == post.id %}
				                                {{ category.category }}
		                                {% endif %}
                                {% endfor %}
                            </span>
																				<h3 class="post-title mt-1"><a
																								href=" {% url 'news:news_detail' post.id %} ">{{ post.title }}</a>
																				</h3>
																				<p>{{ post.description|truncatewords:24|striptags }}</p>
																		</div>
																</article>
														</div>
												{% endfor %}
										</div>
								</div>

								{% if is_paginated %}
										{% include 'include/pagination.html' %}
								{% endif %}

								{% if user.is_authenticated and request.path|contains:"/category/" %}
										<div class="m-auto">
										<button class="btn btn-primary mb-4"><a
														href="{% url 'news:subscribe_category' view.kwargs.category_id %}">
												{% if user.category_set.all|contains:categoryName %}
														Отписаться от категории
												{% else %}
														Подписаться на категорию
												{% endif %}
										</a></button>
								{% endif %}
								</div>

						</div>
				</div>
		</section>

{% endblock content %}

